# Bash script to get the dump file. This requires secret information, so the file isn't version controlled. You'll have to write your own.
RETRIEVE_DUMP=./scripts/gotxDbDump.sh
# Path to the output of the scrip above.
DUMP_PATH=./scripts/dump.sql
# variables used by the RETRIEVE_DUMP script
SERVER_NAME=
SERVER_HOST=
PORT=
DB_USER=
DATABASE=