.experimentalFont {
  font-family: 'Press Start 2P', sans-serif;
  font-family: 'VT323', monospace;
}

.navbar-item img {
  min-height: 28px;
}

@media (prefers-color-scheme: light) {
  .navbar {
    border-bottom: 2px solid;
  }
}

.title,
.subtitle {
  font-family: 'Press Start 2P', sans-serif;
  font-family: 'VT323', monospace;
  font-weight: 600;
}

*.level .level-item .subtitle {
  font-family: 'VT323', monospace;
  font-weight: 600;
}

div.loader {
  height: 100px;
  width: 100px;
  margin: auto;
}

img {
  max-height: 480px;
}

label input {
  margin-inline: 10px;
}

.hidden {
  display: none;
}

.level-item .subtitle .is-hidden-tablet {
  margin-inline: 10px;
}

.dropdown-menu {
  width: 50%;
  max-width: 450px;
  min-width: 300px;
}

/* react-slider styles */
.horizontal-slider {
  width: 80%;
  height: 50px;
  margin: auto;
  margin-top: -15px;
}

.example-thumb {
  cursor: pointer;
  position: absolute;
  z-index: 100;
  background: #ffffff;
  border: 10px solid #0075ff;
  border-radius: 100%;
  display: block;
  box-shadow: 0 0 2px 0 rgb(0 0 0 / 44%);
}
.example-thumb.active {
  background-color: grey;
}
.example-track {
  position: relative;
  background: #ddd;
}
.example-track.example-track-1 {
  background: #0075ff;
}
.horizontal-slider .example-track {
  top: 20px;
  height: 4px;
}
.horizontal-slider .example-thumb {
  top: 12px;
  width: 10px;
  outline: none;
  height: 10px;
  line-height: 38px;
}

/* old app.css file contents. */
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}
