div.loader {
  height: 100px;
  width: 100px;
  margin: auto;
}

img {
  max-height: 480px;
}

label input {
  margin-inline: 10px;
}

.rollBtn {
  margin-block: 16px;
}

.hidden {
  display: none;
}
