.experimentalFont {
  font-family: 'Press Start 2P', sans-serif;
  font-family: 'VT323', monospace;
}

.title,
.subtitle,
blockquote {
  font-family: 'Press Start 2P', sans-serif;
  font-family: 'VT323', monospace;
  font-weight: 600;
}
blockquote {
  font-weight: 400;
}

*.level .level-item .subtitle {
  font-family: 'VT323', monospace;
  font-weight: 600;
}

div.loader {
  height: 100px;
  width: 100px;
  margin: auto;
}

img {
  max-height: 480px;
}

label input {
  margin-inline: 10px;
}

.rollBtn {
  margin-block: 16px;
}

.hidden {
  display: none;
}

.level-item .subtitle .is-hidden-tablet {
  margin-inline: 10px;
}

.dropdown-menu {
  width: 50%;
  max-width: 450px;
  min-width: 300px;
}

.horizontal-slider {
  width: 80%;
  height: 50px;
  margin: auto;
  margin-top: -15px;
}

.example-thumb {
  cursor: pointer;
  position: absolute;
  z-index: 100;
  background: #ffffff;
  border: 5px solid #0075ff;
  border-radius: 100%;
  display: block;
  box-shadow: 0 0 2px 0 rgb(0 0 0 / 44%);
}
.example-thumb.active {
  background-color: grey;
}
.example-track {
  position: relative;
  background: #ddd;
}
.example-track.example-track-1 {
  background: #0075ff;
}
.horizontal-slider .example-track {
  top: 20px;
  height: 4px;
}
.horizontal-slider .example-thumb {
  top: 17px;
  width: 10px;
  outline: none;
  height: 10px;
  line-height: 38px;
}
